/* FOR BASE.HTML.TWIG */
body {
    text-align: center;
}

body.cards_page,
body.table_page,
body.form_page,
body.search_page,
body.edit_page {
    background-image:
        linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
        url('/assets/img/newspaper.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* FOR CARDS.HTML.TWIG */
.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    margin: 0px 50px 50px 50px;
}

.card_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 900px;
    gap: 100px;
    margin: 0 auto;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    flex-basis: 350px;
    height: 550px;
    box-shadow: 4px 4px 6px rgba(0,0,0,0.1), 0 6px 10px rgba(0, 0, 0, 0.19);
    border-radius: 15px;
    background-color: white;
}

.card_img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: 50%;
}

.card_buttons {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: auto;
}

.btn_left, 
.btn_right {
    width: 49.7%;
    height: 50px;
    background-color: red;
    border-bottom-left-radius: 15px;
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    color: white;
    text-decoration: none;
}

.btn_right {
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 0;
}

.card_content p {
    margin: 17px 10px 0px 10px;
}

.card_content h2 {
    margin: 0;
}

.card_content hr {
    width: 35%;
    margin: 10px 110px;
}

.card_content .date {
    opacity: 0.5;
    font-size: smaller;
}

.card_content .category {
    margin-bottom: auto;
}

.card:hover {
    transform: scale(1.03);
    transition: transform 0.3s ease;
}

.card.yes {
    box-shadow: 0 0 15px 5px gold;
    transition: box-shadow 0.4s ease;
}

.card.yes:hover {
    transform: scale(1.03);
    transition: transform 0.3s ease;
}

hr {
    color: white;
    margin: 50px 100px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;

    button {
        background-color: white;
        width: 120px;
        height: 60px;
        border: 2.5px solid black;
        transition-duration: 0.5s;
        margin: 0px 20px 20px 20px;
    
        a {
            text-decoration: none;
            font-size: 18px;
            color: black;
            font-weight: 500;
            transition-duration: 0.5s;
        }
    }
}

.buttons button:hover {
    background-color: black;
    a {
        color: white;
    }
}


/* FOR TABLE.HTML.TWIG */
body.table_page {
    color: white;
}


table {
    margin: 40px auto;
    table-layout: fixed;
    border-collapse: collapse;
    width: 80%;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    th, td {
    padding: 15px;
    }
}

th:nth-child(1) {
    width: 30%;
  }

th:nth-child(2) {
    width: 10%;
}

th:nth-child(3) {
    width: 15%;
}

table tr td:nth-child(6),
table tr th:nth-child(6) {
    padding: 0;
    width: 8%;
}

td a {
    text-decoration: none;
    color: white;
}

table button {
    width: 80px;
    height: 35px;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0);
    a {
        text-decoration: none;
        color: white;
        font-size: 15px;
        font-weight: 500;
    }
}


/* FOR INDEX.HTML.TWIG */

.form_title {
    text-align: center;
    color: white;
}

#novice {
    margin: 50px;
    text-align: left;
    color: white;
}

#novice div {
    display: flex;
    align-items: center;
}

div label {
    margin: 10px;
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    margin: 5px;
    width: 200px;
    text-shadow:
    -2px -2px 0 black,
     2px -2px 0 black,
    -2px  2px 0 black,
     2px  2px 0 black;
}

div input {
    margin: 10px;
    width: 30%;
    height: 40px;
    border-radius: 15px;
    border: 1px solid #ccc;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
}

div select {
    width: 8%;
    height: 40px;
    margin: 10px;
}

div textarea {
    margin: 10px;
    width: 30%;
    height: 80px;
    border-radius: 15px;
    border: 1px solid #ccc;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
}

div input[type="date"] {
    margin: 10px;
    width: 8%;
    height: 40px;
}

div input[type="checkbox"] {
    margin: 10px;
    width: 48px;
}

div button {
    background-color: white;
    width: 170px;
    height: 60px;
    border: 2.5px solid black;
    transition-duration: 0.5s;
    margin: 0px 20px 20px 20px;
    a {
        text-decoration: none;
        font-size: 18px;
        color: black;
        font-weight: 500;
        transition-duration: 0.5s;
    }
}

/* FOR SEARCH.HTML.TWIG */
body.search_page {
    color: white;
}

#app_search div button {
    margin-top: 10px;
    border-radius: 15px;
    border: 2.5px solid #ccc;
    background-color: #ccc;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
}

.hr_search {
    margin-top: 29.7%; 
}

h1 {
    text-shadow:
    -2px -2px 0 black,
     2px -2px 0 black,
    -2px  2px 0 black,
     2px  2px 0 black;
}

.search_error {
    font-size: 25px;
}

/* FOR EDIT.HTML.TWIG */
body.edit_page {
    color: white;
}

/* FOR MOREINFO PAGES */
body.moreinfo_page {
    background-color: white;
}

.moreinfo {
    margin: 30px 200px;
    img {
        width: 600px;
        height: 400px;
        border-radius: 5px;
    }
}

.moreinfo1 {
    margin-bottom: 100px;
    padding: 10px 30px;
    border-left: 18px solid red;
    text-align: left;
    h1 {
        text-shadow: none;
        font-size: 70px;
    }
}

.moreinfo2 {
    margin-left: 300px;
    border-left: 1px solid #ccc;
    padding: 0px 100px 0px 30px;
    font-size: 25px;
    width: 700px;
}

.moreinfo button {
    width: 200px;
    height: 70px;
    margin: 10px;
    border-radius: 15px;
    border: 2.5px solid #ccc;
    background-color: #ccc;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
    a {
        text-decoration: none;
        font-size: 18px;
        color: black;
        font-weight: 500;
    }
}